/**
 * Typography
 */

.alpha {
  margin: 0 0 ($font-size-alpha * 0.5);
  line-height: ($font-size-alpha * 1.1);
  font-size: $font-size-alpha;
}

.beta {
  display: block;
  margin: 0 0 ($font-size-beta * 0.5);
  line-height: ($font-size-beta * 1.3);
  font-size: $font-size-beta;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.gamma {
  margin: 0 0 ($font-size-gamma * 0.5);
  line-height: ($font-size-gamma * 1.1);
  font-size: $font-size-gamma;
}

.delta {
  margin: 0;
  line-height: ($font-size-delta * 1.6);
  font-size: $font-size-delta;
}

.epsilon {

}

.zeta {

}

.underline {
  text-decoration: underline;
}

.upper {
  text-transform: uppercase;
}

.bold {
  font-weight: $font-weight-bold;
}

.italic {
  font-style: italic;
}
