/**
 * Colors
 */

.color-default {
  color: $color-default;
}

.color-grey-dark {
  color: $color-grey-dark;
}

.bg-default {
  background-color: $color-default;
}

.color-blue {
	color: $color-blue;
}