/**
 * Intro
 */

.c_intro {
  line-height: ($line-height-default * 1.2);
  letter-spacing: 2px;
  text-align: center;
  color: lighten($color-light-grey, 10%);

  sup {
    font-size: $font-size-default * 0.6;
  }
}
