/**
 * Typography
 */

.alpha {
  margin: 0 0 ($font-size-alpha * 0.5);
  line-height: ($font-size-alpha * 1.1);
  font-size: $font-size-alpha;
}

.beta {
  margin-top: 10px;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0;
  font-size: $font-size-beta;
}

.gamma {
  font-size: $font-size-gamma;
}

.delta {

}

.epsilon {

}

.zeta {

}

.underline {
  text-decoration: underline;
}

.upper {
  text-transform: uppercase;
}

.bold {
  font-weight: $font-weight-bold;
}

.italic {
  font-style: italic;
}
