/**
 * Layout
 *
 * a min-width property is needed to fix Android's handling of empty <td>s
 */
.width-full {
  width: $width-full; // edge to edge
  min-width: $width-full;

  @media (max-width: $width-full) {
    width: ($width-full * 0.5) !important;
    min-width: ($width-full * 0.5) !important;
  }
}

.width-gutter {
  width: $width-gutter; // 1 gutter
  min-width: $width-gutter;

  @media (max-width: $width-full) {
    width: ($width-gutter * 0.25) !important;
    min-width: ($width-gutter * 0.25) !important;
  }
}

.width-core {
  width: $width-core; // .width-full - (.width-gutter * 2)
  min-width: $width-core;

  @media (max-width: $width-full) {
    width: ($width-full * 0.5) - ($width-gutter * 0.5) !important;
    min-width: ($width-full * 0.5) - ($width-gutter * 0.5) !important;
  }
}

.width-full--half {
  width: ($width-full * 0.5);
}

.width-core--half {
  width: ($width-core * 0.5);
}

.block {
  display: block;
}

.valign-middle {
  vertical-align: middle;
}

.snug-bottom {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}

.br {
  @media (max-width: $width-full) {
    display: block;
  }
}
